// Breakpoints
$break0: "(max-width: 575.98px)";
$break1: "(min-width: 576px) and (max-width: 767.98px)";
$break2: "(min-width: 768px) and (max-width:991.98px)";
$break3: "(min-width: 992px) and (max-width:1139.98px)";
$break4: "(min-width: 1140px)";

$breakMenu1: "(max-width: 991.98px)";
$breakMenu2: "(min-width: 992px)";

// Colors
$white:     #FFF;
$grey:      #FAFAFA;
$dark_grey: #333333;
$black:     #000;
$orange:    #EE3D1B;
$red:       #D52047;
$pinky:     #ED4C5C;